.app {
  display: flex;
  flex-direction: column;
  background-color: #F1F1F1;
  height: 100vh;
  width: 600px;

  &__header {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #30237C;
  }

  &__heading {
    margin: 1em 1em 0 1em;
  }
  &__count {
    margin: 0 .5em .5em .5em;
  }

  &__button {
    height: 2.5em;
    width: 68%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 10em;
    margin: .5em;
    border-radius: 5px;
  }

  &__company {
    margin: .5em 1em;
    color: #fff;
  }

  &__title {
    margin: .5em 1.5em;
    color: #fff;
  }

  &__delete {
    height: 2em;
    margin: .5em;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #F1F1F180;
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}